################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/backEnd/.vs/APITarefas/FileContentIndex
/backEnd/obj/project.nuget.cache
